<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>This is About Page.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, totam blanditiis! Modi consequatur, cupiditate alias libero voluptatem at pariatur quo consectetur cum provident a quae optio magnam omnis nam atque doloremque repellat aliquam harum natus officiis? Mollitia iure fugiat vero ducimus nobis ipsam numquam nihil sit. Reprehenderit culpa cum incidunt.</p>
        <button>Explore More</button>
    </div>
    
</body>
</html>